## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [1]:
# Import necessary libraries
import pandas as pd

In [2]:
# Read the csv files
waste_1 = pd.read_csv("datasets/wastestats.csv")
waste_2 = pd.read_csv("datasets/2018_2019_waste.csv")
energy = pd.read_csv("datasets/energy_saved.csv")

In [3]:
# Shapes of the datasets
print(waste_1.shape)
print(waste_2.shape)
print(energy.shape)

(225, 6)
(30, 4)
(5, 6)

In [4]:
# Preview the dataset waste_1
waste_1.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [5]:
# Preview the dataset waste_2
waste_2.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [6]:
# Preview the dataset energy
energy.head()

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [7]:
# Select only years from 2015
waste_1 = waste_1[waste_1.year >= 2015]
print(waste_1.year.value_counts())

2017    15
2016    15
2015    15
Name: year, dtype: int64

In [8]:
# Check NA values
print(waste_1.isna().sum())
print(waste_2.isna().sum())
print(energy.isna().sum())

waste_type                     0
waste_disposed_of_tonne        0
total_waste_recycled_tonne     0
total_waste_generated_tonne    0
recycling_rate                 0
year                           0
dtype: int64
Waste Type                       0
Total Generated ('000 tonnes)    0
Total Recycled ('000 tonnes)     0
Year                             0
dtype: int64
The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram)  per waste type    1
Unnamed: 1                                                                                                                                                             2
Unnamed: 2                                                                                                                                                             3
Unnamed: 3                                                                                                                                                             2
Unnamed: 4                                                                                                                                                             2
Unnamed: 5                                                                                                                                                             2
dtype: int64

In [9]:
# Value_counts of waste_1
print(waste_1.waste_type.value_counts())

Wood                                       3
Total                                      3
Used slag                                  3
Ferrous metal                              3
Glass                                      3
Food                                       3
Textile/Leather                            3
Horticultural waste                        3
Scrap tyres                                3
Paper/Cardboard                            3
Ash & Sludge                               2
C&D                                        2
Plastics                                   2
Non-ferrous metal                          2
Construction debris                        1
Non-ferrous metals                         1
Others (stones, ceramics & rubber etc)     1
Others (stones, ceramic, rubber, etc.)     1
Ash and sludge                             1
Others (stones, ceramics & rubber etc.)    1
Plastic                                    1
Name: waste_type, dtype: int64

In [10]:
# Value_counts of waste_2
print(waste_2["Waste Type"].value_counts())

Ash & Sludge                             2
Horticultural                            2
Paper/Cardboard                          2
Construction& Demolition                 2
Glass                                    2
Non-Ferrous Metal                        2
Food                                     2
Scrap Tyres                              2
Overall                                  2
Others (stones, ceramic, rubber, ect)    2
Wood                                     2
Plastics                                 2
Textile/Leather                          2
Used Slag                                2
Ferrous Metal                            2
Name: Waste Type, dtype: int64

In [11]:
# Drop columns that we are not interested in
print(waste_1.columns.tolist())
print(waste_2.columns.tolist())
print(energy.columns.tolist())

['waste_type', 'waste_disposed_of_tonne', 'total_waste_recycled_tonne', 'total_waste_generated_tonne', 'recycling_rate', 'year']
['Waste Type', "Total Generated ('000 tonnes)", "Total Recycled ('000 tonnes)", 'Year']
['The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram)  per waste type', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5']

In [12]:
waste_1.drop(columns=['waste_disposed_of_tonne', 'total_waste_generated_tonne', 
                      'recycling_rate'], inplace=True)
waste_1.columns.tolist()

['waste_type', 'total_waste_recycled_tonne', 'year']

In [13]:
waste_2.drop(columns=["Total Generated ('000 tonnes)"], inplace=True)
waste_2.columns.tolist()

['Waste Type', "Total Recycled ('000 tonnes)", 'Year']

In [14]:
# Drop unnecessary rows of energy
energy.drop([0, 1, 4], axis=0, inplace=True)
energy

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh

In [36]:
# Create a dictionary with Material : Energy_saved

# Extract from dataframe
keys = energy.iloc[0, 1:5].tolist()
values = energy.iloc[1, 1:5].tolist()

new_values = []

for val in values:
    new_value = int(val.replace(" Kwh", ""))
    new_values.append(new_value)
new_values

#Creation of dictionary
zip_iterator = zip(keys, new_values)
mat_energy = dict(zip_iterator)

mat_energy

{'Plastic': 5774,
 'Glass': 42,
 'Ferrous Metal': 642,
 'Non-Ferrous Metal': 14000}

In [16]:
# Create a new column total_waset_recycled_tonne in metric tonnes
waste_2["total_waste_recycled_tonne"] = waste_2["Total Recycled ('000 tonnes)"] * 1000
waste_2.head()

,Waste Type,Total Recycled ('000 tonnes),Year,total_waste_recycled_tonne
0,Construction& Demolition,1434,2019,1434000
1,Ferrous Metal,1270,2019,1270000
2,Paper/Cardboard,449,2019,449000
3,Plastics,37,2019,37000
4,Food,136,2019,136000

In [17]:
# Drop the column that we don't need anymore
waste_2.drop(columns="Total Recycled ('000 tonnes)", inplace=True)

In [18]:
# Rename columns in order to concat later
waste_2.rename(columns={"Waste Type": "waste_type", "Year": "year"}, inplace=True)

In [19]:
# Concat both dataframes into one
full_waste = pd.concat([waste_1, waste_2], ignore_index=True)
print(waste_1.shape)
print(waste_2.shape)
print(full_waste.shape)

(45, 3)
(30, 3)
(75, 3)

In [20]:
# List of items in full_waste.waste_type
full_waste.waste_type.value_counts().index

Index(['Paper/Cardboard', 'Food', 'Textile/Leather', 'Glass', 'Wood',
       'Plastics', 'Ash & Sludge', 'Used slag', 'Scrap tyres', 'Ferrous metal',
       'Total', 'Horticultural waste', 'C&D', 'Non-Ferrous Metal',
       'Others (stones, ceramic, rubber, ect)', 'Used Slag', 'Scrap Tyres',
       'Overall', 'Non-ferrous metal', 'Horticultural',
       'Construction& Demolition', 'Ferrous Metal', 'Plastic',
       'Others (stones, ceramics & rubber etc.)', 'Ash and sludge',
       'Others (stones, ceramics & rubber etc)',
       'Others (stones, ceramic, rubber, etc.)', 'Construction debris',
       'Non-ferrous metals'],
      dtype='object')

In [21]:
# Glass, plastic, ferrous and non-ferrous metals waste dataframe
gpfnf_waste = full_waste[full_waste.waste_type.isin(['Glass', 'Plastics', 'Ferrous metal',
                                                     'Ferrous Metal', 'Non-Ferrous Metal',
                                                     'Non-ferrous metal', 'Non-ferrous metals',
                                                     'Plastic'])]

In [22]:
gpfnf_waste.waste_type.value_counts()

Glass                 5
Plastics              4
Ferrous metal         3
Non-ferrous metal     2
Non-Ferrous Metal     2
Ferrous Metal         2
Plastic               1
Non-ferrous metals    1
Name: waste_type, dtype: int64

In [27]:
# Clean variable names
gpfnf_waste.loc[gpfnf_waste["waste_type"] == "Plastics", "waste_type"] = "Plastic"
gpfnf_waste.loc[gpfnf_waste["waste_type"] == "Non-ferrous metal", "waste_type"] = "Non-Ferrous Metal"
gpfnf_waste.loc[gpfnf_waste["waste_type"] == "Ferrous metal", "waste_type"] = "Ferrous Metal"
gpfnf_waste.loc[gpfnf_waste["waste_type"] == "Non-ferrous metals", "waste_type"] = "Non-Ferrous Metal"

In [43]:
gpfnf_waste.head()

    total_waste_recycled_tonne         waste_type  year     saved_kwh
2                      59500.0            Plastic  2016  3.435530e+08
6                    1351500.0      Ferrous Metal  2016  8.676630e+08
7                      95900.0  Non-Ferrous Metal  2016  1.342600e+09
10                     14700.0              Glass  2016  6.174000e+05
17                     57800.0            Plastic  2015  3.337372e+08

In [39]:
mat_energy

{'Plastic': 5774,
 'Glass': 42,
 'Ferrous Metal': 642,
 'Non-Ferrous Metal': 14000}

In [48]:
gpfnf_waste["total_energy_saved"] = gpfnf_waste["waste_type"].map(mat_energy) * gpfnf_waste["total_waste_recycled_tonne"]

In [51]:
annual_energy_savings = pd.DataFrame(gpfnf_waste.groupby(["year"])["total_energy_saved"].sum())

In [56]:
annual_energy_savings

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09
2018        2.698130e+09
2019        2.765440e+09